@import "tailwindcss";

/* Define fallback color variables (light mode) */
:root {
  --background: #ffffff;
  --foreground: #0f1010;

  --color-background: #ffffff;
  --color-foreground: #0f1010;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

@layer base {
  p {
    @apply text-gray-500 text-base;
  }
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Arial',
    'Helvetica',
    'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.font-times {
  font-family: 'Times New Roman', serif;
}

/* Custom color utility classes */
.bg-cool-black {
  background-color: #0f1010;
}

.bg-cool-gray {
  background-color: #1a1c1c;
}

.bg-aurora-green {
  background-color: #43cc88;
}

.bg-aurora-magenta {
  background-color: #c82087;
}

.bg-aurora-purple {
  background-color: #8821ad;
}

.bg-aurora-yellow {
  background-color: #dbb957;
}

.bg-aurora-blue {
  background-color: #187795;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-shimmer {
  background-size: 200% 200%;
  animation: shimmer 5s ease-in-out infinite;
}

.hover-shimmer {
  position: relative;
  display: inline-block;
  color: #2dceff;
  /* Normal color */
  transition: all 0.5s ease;
}

.hover-shimmer:hover {
  background-image: linear-gradient(to right,
      #c82087,
      #8821ad,
      #187795,
      #43cc88,
      #dbb957);
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 3s ease-in-out infinite;
}